/*Re-setto le impostazioni di default del CSS*/
* 
{
	margin: 0px;
	padding: 0px;
	box-Sizing: border-box;
}

main
{
    height: 300px;
    flex-basis: 70%;
}

.container
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.margin-auto 
{
    margin: auto;
}

.height-100
{
    height: 100%;
}

header 
{    
    display: flex;
    flex-direction: column;
    background-color: rgba(173,216,230,255);
    height: 50px;
}

ul
{
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
}

.whole-nav 
{
    background-color: rgba(218,165,32,255);
    border: 1px;
    border-style: dashed;
    height: 60%;
    width: 70%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    display: grid;
}

.center-nav 
{
    background-color: rgba(218,165,32,255);
    border-left: 2px;
    border-right: 2px;
    border-style: dashed;
    height: 40%;
    width: 70%;
    margin: auto;
    text-align: center;
}

.side-nav 
{
    background-color: rgba(218,165,32,255);
}

#nav-left 
{
    text-align: left;
}

#nav-right 
{
    text-align: right;
}

footer
{
    display: flex;
    flex-direction: column;
    background-color: rgba(35,39,42,255);
    border-top: 2px;;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgba(201,202,202,255);
}

.wrapper 
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#section-1 
{
    background-color: rgba(0,0,139,255);
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgba(173,216,230,255);
}

#section-2
{
    background-color: rgba(255,255,255,255);
}

#section-3
{
    background-color: rgba(211,211,211,255);
}

#section-4
{
    background-color: rgba(255,255,255,255);
}

#section-5
{
    background-color: rgba(211,211,211,255);
    height: 200%;
}

#section-6
{
    background-color: rgba(35,39,42,255);
}

#container-section-1 
{
    margin: auto;
    height: 80%;
    width: 40%;
    background-color: rgba(238,130,238,255);
    border: 1px dashed;
}

#container-section-5 
{
    margin: auto;
    height: 90%;
    width: 45%;
    background-color: rgba(34,139,34,255);
    border: 1px dashed;
}

.inner-main
{

}

.inner-aside
{

}

.inner-main-section-6
{

}

.inner-aside-section-6
{
    
}
