/*Re-setto le impostazioni di default del CSS*/
* 
{
	margin: 0px;
	padding: 0px;
	box-Sizing: border-box;
}

main
{
    height: 300px;
    flex-basis: 70%;
}

.container
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}

header 
{    
    display: flex;
    flex-direction: column;
    background-color: rgba(173,216,230,255);
    height: 50px;
}

ul
{
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li
{
    display: inline-block;
    width: 50%;
}

.whole-nav 
{
    background-color: rgba(218,165,32,255);
    border: 1px;
    border-style: dashed;
    height: 60%;
    width: 70%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.center-nav 
{
    background-color: rgba(218,165,32,255);
    border-left: 2px;
    border-right: 2px;
    border-style: dashed;
    height: 40%;
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-nav 
{
    background-color: rgba(218,165,32,255);
}

#nav-left 
{
    text-align: left;
}

#nav-right 
{
    text-align: right;
}

footer
{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: rgba(35,39,42,255);
    border-top: 2px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: rgba(201,202,202,255);
}

.wrapper 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125%;
}

#section-1 
{
    background-color: rgba(0,0,139,255);
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgba(173,216,230,255);
}

#section-2
{
    background-color: rgba(255,255,255,255);
}

#section-3
{
    background-color: rgba(211,211,211,255);
}

#section-3 > .inner-wrapper 
{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

#section-4
{
    background-color: rgba(255,255,255,255);
}

#section-5
{
    background-color: rgba(211,211,211,255);
    height: 200%;
}

#section-6
{
    background-color: rgba(35,39,42,255);
}

#container-section-1 
{
    margin: auto;
    height: 80%;
    width: 50%;
    background-color: rgba(238,130,238,255);
    border: 1px dashed;
}

#container-section-5 
{
    height: 90%;
    width: 65%;
    background-color: rgba(34,139,34,255);
    border: 2px dashed;
}

.inner-wrapper
{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
}

.inner-main
{
    display: flex;
    background-color: rgba(30,144,255,255);
    height: 90%;
    border: 1px dashed;
    flex-basis: 40%;
}

.inner-aside
{
    display: flex;
    background-color: rgba(255,192,203,255);
    height: 90%;
    width: 25%;
    border: 1px dashed;

}

.inner-wrapper-section-6
{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: -10px;
}

.inner-main-section-6
{
    display: flex;
    background-color: rgba(32,178,170,255);
    height: 90%;
    border: 1px dashed;
    flex-basis: 45%;
    width: calc(100%/4);
    border: 1px dashed;
    border-color: white;
}

.inner-aside-section-6
{
    display: flex;
    background-color: rgba(240,128,128,255);
    height: 90%;
    width: 20%;
    border: 1px dashed;
}

.column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    height: 100%;
    width: 25%;    
    border: 1px dashed;
    border-color: white;
}

.footer-container 
{
    background-color: rgba(127,255,212,255);
    border: 1px solid;
    height: 80%;
    width: 65%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-top: auto;
}

.side-button
{
    background-color: rgba(255,182,193,255);
    border: 1px dashed;
    height: 35px;
    width: 65px;
    text-align: center;
    padding-top: 0.5rem;
}

#left
{
    margin-top: 1.40rem;
}

#right
{
    margin-top: 1.40rem;
}
